# Compiled class files
*.class

# Log files
*.log

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

# Eclipse/IntelliJ
*.iml
.idea/
*.ipr
*.iws
*.bak
*.swp
.DS_Store

# OS
Thumbs.db
